@{

}
    <h3>@ViewBag.Message</h3>


    <button class="btntext-center total-price-block" id="addCartBtn">
        @Html.ActionLink("Üye Girişi yap", "Login", "Account")
    </button>
    <button class="btntext-center total-price-block" id="addCartBtn">
        @Html.ActionLink("Giriş yapmadan Devam et", "CheckOrder", "Home")
    </button>
